

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input[type='text'],
input[type='email'],
input[type='password'],
select {
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #cfb1b1;
}

button {
  padding: 10px 15px;
  background-color: #148cb1;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

a {
  display: block;
  margin-bottom: 10px;
  color: #2f00ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} */



.delete-button {
  padding: 5px 10px;
  background-color: #df5f6c;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.edit-button {
  padding: 5px 10px;
  background-color: #228adf;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

